<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header">
            <slot name="header"><h1>Consent to do following:</h1></slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              I hereby accept that the service uses and stores my public
              ip-address while the service is being used. It will be removed
              once the session ends on all the connected parties.
            </slot>
          </div>

          <div class="modal-footer">
            <button @click="accept()">I accept</button>

            <button @click="noAccept()">I do not accept</button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  methods: {
    accept() {
      localStorage.setItem('copybuddy-consent', true);
      this.$emit('accept');
    },
    noAccept() {
      window.location.href = 'about:blank';
    },
  },
};
</script>

<style lang="scss">
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  max-width: 500px;
  margin: 0px auto;
  text-align: center;
  padding: 40px 50px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
}
.modal-body {
  margin: 20px 0;
  line-height: 1.5;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modal-footer {
  display: flex;
  justify-content: center;
  & > *:first-child {
    margin-right: 15px;
  }
}
</style>
