<template>
  <div id="app" class="wrapper">
    <modal v-if="showModal" @accept="showModal = false" />
    <header>
      <svg
        width="164px"
        height="31px"
        viewBox="0 0 164 31"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <g
          id="Page-1"
          stroke="none"
          stroke-width="1"
          fill="none"
          fill-rule="evenodd"
        >
          <g id="Artboard" transform="translate(-97.000000, -158.000000)">
            <path
              d="M103.98,181.18 C102.999995,181.18 102.095004,181.050001 101.265,180.79 C100.434996,180.529999 99.720003,180.095003 99.12,179.485 C98.519997,178.874997 98.0550016,178.045005 97.725,176.995 C97.3949983,175.944995 97.23,174.620008 97.23,173.02 C97.23,171.379992 97.3799985,170.020005 97.68,168.94 C97.9800015,167.859995 98.4249971,167.005003 99.015,166.375 C99.6050029,165.744997 100.329996,165.300001 101.19,165.04 C102.050004,164.779999 103.019995,164.65 104.1,164.65 C105.080005,164.65 106.014996,164.704999 106.905,164.815 C107.795004,164.925001 108.729995,165.119999 109.71,165.4 L109.71,167.95 L105.48,167.95 C104.559995,167.95 103.820003,168.084999 103.26,168.355 C102.699997,168.625001 102.295001,169.124996 102.045,169.855 C101.794999,170.585004 101.67,171.629993 101.67,172.99 C101.67,174.330007 101.794999,175.349997 102.045,176.05 C102.295001,176.750003 102.704997,177.219999 103.275,177.46 C103.845003,177.700001 104.599995,177.82 105.54,177.82 L109.95,177.82 L109.95,180.34 C109.449997,180.500001 108.870003,180.644999 108.21,180.775 C107.549997,180.905001 106.855004,181.005 106.125,181.075 C105.394996,181.145 104.680003,181.18 103.98,181.18 Z M119.31,181.15 C117.989993,181.15 116.860005,181.015001 115.92,180.745 C114.979995,180.474999 114.215003,180.020003 113.625,179.38 C113.034997,178.739997 112.605001,177.890005 112.335,176.83 C112.064999,175.769995 111.93,174.460008 111.93,172.9 C111.93,171.259992 112.064999,169.905005 112.335,168.835 C112.605001,167.764995 113.034997,166.925003 113.625,166.315 C114.215003,165.704997 114.984995,165.275001 115.935,165.025 C116.885005,164.774999 118.009994,164.65 119.31,164.65 C120.650007,164.65 121.789995,164.779999 122.73,165.04 C123.670005,165.300001 124.434997,165.734997 125.025,166.345 C125.615003,166.955003 126.044999,167.794995 126.315,168.865 C126.585001,169.935005 126.72,171.279992 126.72,172.9 C126.72,174.500008 126.590001,175.834995 126.33,176.905 C126.069999,177.975005 125.650003,178.819997 125.07,179.44 C124.489997,180.060003 123.725005,180.499999 122.775,180.76 C121.824995,181.020001 120.670007,181.15 119.31,181.15 Z M119.31,177.61 C119.850003,177.61 120.304998,177.560001 120.675,177.46 C121.045002,177.36 121.344999,177.155002 121.575,176.845 C121.805001,176.534998 121.979999,176.060003 122.1,175.42 C122.220001,174.779997 122.28,173.940005 122.28,172.9 C122.28,171.839995 122.220001,170.995003 122.1,170.365 C121.979999,169.734997 121.805001,169.265002 121.575,168.955 C121.344999,168.644998 121.045002,168.44 120.675,168.34 C120.304998,168.24 119.850003,168.19 119.31,168.19 C118.789997,168.19 118.345002,168.24 117.975,168.34 C117.604998,168.44 117.300001,168.644998 117.06,168.955 C116.819999,169.265002 116.645001,169.734997 116.535,170.365 C116.424999,170.995003 116.37,171.839995 116.37,172.9 C116.37,173.940005 116.424999,174.779997 116.535,175.42 C116.645001,176.060003 116.819999,176.534998 117.06,176.845 C117.300001,177.155002 117.604998,177.36 117.975,177.46 C118.345002,177.560001 118.789997,177.61 119.31,177.61 Z M129.662249,188.11 L129.662249,164.89 L133.382249,164.89 L134.102249,166.42 C134.48225,166.119999 134.902246,165.835001 135.362249,165.565 C135.822251,165.294999 136.322246,165.075001 136.862249,164.905 C137.402251,164.734999 137.972246,164.65 138.572249,164.65 C139.552253,164.65 140.407245,164.839998 141.137249,165.22 C141.867252,165.600002 142.462246,166.149996 142.922249,166.87 C143.382251,167.590004 143.722247,168.464995 143.942249,169.495 C144.16225,170.525005 144.272249,171.679994 144.272249,172.96 C144.272249,174.680009 144.10225,176.159994 143.762249,177.4 C143.422247,178.640006 142.837253,179.584997 142.007249,180.235 C141.177244,180.885003 140.032256,181.21 138.572249,181.21 C137.812245,181.21 137.037252,181.120001 136.247249,180.94 C135.457245,180.759999 134.742252,180.500002 134.102249,180.16 L134.102249,188.11 L129.662249,188.11 Z M137.132249,177.55 C137.592251,177.55 138.032246,177.425001 138.452249,177.175 C138.872251,176.924999 139.207247,176.470003 139.457249,175.81 C139.70725,175.149997 139.832249,174.200006 139.832249,172.96 C139.832249,171.759994 139.71725,170.815003 139.487249,170.125 C139.257247,169.434997 138.942251,168.945001 138.542249,168.655 C138.142247,168.364999 137.672251,168.22 137.132249,168.22 C136.512245,168.22 135.942251,168.319999 135.422249,168.52 C134.902246,168.720001 134.46225,168.919999 134.102249,169.12 L134.102249,176.77 C134.502251,177.010001 134.972246,177.199999 135.512249,177.34 C136.052251,177.480001 136.592246,177.55 137.132249,177.55 Z M152.25713,188.11 L153.99713,181 C153.097126,181 152.307134,180.830002 151.62713,180.49 C150.947127,180.149998 150.382132,179.665003 149.93213,179.035 C149.482128,178.404997 149.137131,177.620005 148.89713,176.68 L145.86713,164.89 L150.48713,164.89 L153.03713,175.78 C153.137131,176.160002 153.267129,176.459999 153.42713,176.68 C153.587131,176.900001 153.757129,177.055 153.93713,177.145 C154.117131,177.235 154.282129,177.295 154.43213,177.325 C154.582131,177.355 154.69713,177.37 154.77713,177.37 L157.68713,164.89 L162.18713,164.89 L157.38713,185.14 L155.94713,188.11 L152.25713,188.11 Z M173.398905,181.18 C172.698902,181.18 172.068908,181.100001 171.508905,180.94 C170.948902,180.779999 170.443907,180.570001 169.993905,180.31 C169.543903,180.049999 169.118907,179.770002 168.718905,179.47 L167.998905,181 L164.278905,181 L164.278905,158.11 L168.718905,158.11 L168.718905,166 C169.358908,165.659998 170.078901,165.350001 170.878905,165.07 C171.678909,164.789999 172.448901,164.65 173.188905,164.65 C174.568912,164.65 175.673901,164.939997 176.503905,165.52 C177.333909,166.100003 177.938903,167.004994 178.318905,168.235 C178.698907,169.465006 178.888905,171.08999 178.888905,173.11 C178.888905,174.910009 178.693907,176.409994 178.303905,177.61 C177.913903,178.810006 177.313909,179.704997 176.503905,180.295 C175.693901,180.885003 174.658911,181.18 173.398905,181.18 Z M171.748905,177.55 C172.268908,177.55 172.733903,177.415001 173.143905,177.145 C173.553907,176.874999 173.873904,176.400003 174.103905,175.72 C174.333906,175.039997 174.448905,174.100006 174.448905,172.9 C174.448905,171.499993 174.323906,170.475003 174.073905,169.825 C173.823904,169.174997 173.493907,168.745001 173.083905,168.535 C172.673903,168.324999 172.228907,168.22 171.748905,168.22 C171.148902,168.22 170.593908,168.314999 170.083905,168.505 C169.573902,168.695001 169.118907,168.899999 168.718905,169.12 L168.718905,176.77 C169.098907,176.970001 169.533903,177.149999 170.023905,177.31 C170.513907,177.470001 171.088902,177.55 171.748905,177.55 Z M186.393787,181.18 C184.953779,181.18 183.823791,180.755004 183.003787,179.905 C182.183783,179.054996 181.773787,177.850008 181.773787,176.29 L181.773787,164.89 L186.213787,164.89 L186.213787,174.97 C186.213787,175.870004 186.428784,176.474998 186.858787,176.785 C187.288789,177.095002 187.853783,177.25 188.553787,177.25 C189.113789,177.25 189.688784,177.145001 190.278787,176.935 C190.86879,176.724999 191.393784,176.440002 191.853787,176.08 L191.853787,164.89 L196.323787,164.89 L196.323787,181 L192.633787,181 L191.853787,179.35 C191.133783,179.830002 190.303791,180.254998 189.363787,180.625 C188.423782,180.995002 187.433792,181.18 186.393787,181.18 Z M204.968668,181.18 C203.708662,181.18 202.648673,180.915003 201.788668,180.385 C200.928664,179.854997 200.28367,178.995006 199.853668,177.805 C199.423666,176.614994 199.208668,175.05001 199.208668,173.11 C199.208668,171.10999 199.393666,169.490006 199.763668,168.25 C200.13367,167.009994 200.758664,166.100003 201.638668,165.52 C202.518673,164.939997 203.728661,164.65 205.268668,164.65 C206.008672,164.65 206.738665,164.724999 207.458668,164.875 C208.178672,165.025001 208.818665,165.199999 209.378668,165.4 L209.378668,158.11 L213.848668,158.11 L213.848668,181 L210.098668,181 L209.378668,179.47 C209.038667,179.790002 208.623671,180.079999 208.133668,180.34 C207.643666,180.600001 207.128671,180.804999 206.588668,180.955 C206.048666,181.105001 205.508671,181.18 204.968668,181.18 Z M206.528668,177.61 C207.128671,177.61 207.673666,177.510001 208.163668,177.31 C208.653671,177.109999 209.058667,176.910001 209.378668,176.71 L209.378668,168.61 C208.978666,168.469999 208.55867,168.330001 208.118668,168.19 C207.678666,168.049999 207.208671,167.98 206.708668,167.98 C205.968665,167.98 205.37367,168.109999 204.923668,168.37 C204.473666,168.630001 204.148669,169.114996 203.948668,169.825 C203.748667,170.535004 203.648668,171.559993 203.648668,172.9 C203.648668,174.140006 203.743667,175.104997 203.933668,175.795 C204.123669,176.485003 204.428666,176.959999 204.848668,177.22 C205.26867,177.480001 205.828665,177.61 206.528668,177.61 Z M222.447426,181.18 C221.187419,181.18 220.12743,180.915003 219.267426,180.385 C218.407421,179.854997 217.762428,178.995006 217.332426,177.805 C216.902423,176.614994 216.687426,175.05001 216.687426,173.11 C216.687426,171.10999 216.872424,169.490006 217.242426,168.25 C217.612427,167.009994 218.237421,166.100003 219.117426,165.52 C219.99743,164.939997 221.207418,164.65 222.747426,164.65 C223.487429,164.65 224.217422,164.724999 224.937426,164.875 C225.657429,165.025001 226.297423,165.199999 226.857426,165.4 L226.857426,158.11 L231.327426,158.11 L231.327426,181 L227.577426,181 L226.857426,179.47 C226.517424,179.790002 226.102428,180.079999 225.612426,180.34 C225.122423,180.600001 224.607428,180.804999 224.067426,180.955 C223.527423,181.105001 222.987428,181.18 222.447426,181.18 Z M224.007426,177.61 C224.607429,177.61 225.152423,177.510001 225.642426,177.31 C226.132428,177.109999 226.537424,176.910001 226.857426,176.71 L226.857426,168.61 C226.457424,168.469999 226.037428,168.330001 225.597426,168.19 C225.157423,168.049999 224.687428,167.98 224.187426,167.98 C223.447422,167.98 222.852428,168.109999 222.402426,168.37 C221.952423,168.630001 221.627427,169.114996 221.427426,169.825 C221.227425,170.535004 221.127426,171.559993 221.127426,172.9 C221.127426,174.140006 221.222425,175.104997 221.412426,175.795 C221.602426,176.485003 221.907423,176.959999 222.327426,177.22 C222.747428,177.480001 223.307422,177.61 224.007426,177.61 Z M239.686183,188.11 L241.426183,181 C240.526178,181 239.736186,180.830002 239.056183,180.49 C238.376179,180.149998 237.811185,179.665003 237.361183,179.035 C236.911181,178.404997 236.566184,177.620005 236.326183,176.68 L233.296183,164.89 L237.916183,164.89 L240.466183,175.78 C240.566183,176.160002 240.696182,176.459999 240.856183,176.68 C241.016184,176.900001 241.186182,177.055 241.366183,177.145 C241.546184,177.235 241.711182,177.295 241.861183,177.325 C242.011184,177.355 242.126182,177.37 242.206183,177.37 L245.116183,164.89 L249.616183,164.89 L244.816183,185.14 L243.376183,188.11 L239.686183,188.11 Z"
              id="copybuddy"
              fill="#FFFFFF"
              fill-rule="nonzero"
            ></path>
            <circle id="Oval" fill="#61E0B5" cx="256" cy="176" r="5"></circle>
          </g>
        </g>
      </svg>
      <button @click="handleButton">Add</button>
      <button @click="handleButtonClear">Clear</button>
    </header>
    <main>
      <span class="info">Click on item to copy to clipboard.</span>
      <ul>
        <li v-if="adding">
          <textarea
            ref="textarea"
            placeholder="Start typing and press enter"
            v-model="text"
            @keyup.enter="submit"
          />
        </li>
        <li
          v-for="(d, i) in data"
          :key="i"
          v-tooltip="'Click to copy clipboard'"
          @click="handleItemClick(d)"
        >
          {{ shortenText(d) }}
        </li>
      </ul>
      <div
        v-if="!data.length && !adding && !loading"
        class="no-data"
        @click="handleButton"
      >
        Start by <span>adding</span> an item now! 😃
      </div>
    </main>
  </div>
</template>

<script>
const config = {
  apiKey: 'AIzaSyB9tVx30jEwsBOLyAU1enQK2U6rJejkzrE',
  authDomain: 'cpbuddy.firebaseapp.com',
  databaseURL: 'https://cpbuddy-default-rtdb.firebaseio.com',
  projectId: 'cpbuddy',
  storageBucket: 'cpbuddy.appspot.com',
  messagingSenderId: '743685182743',
  appId: '1:743685182743:web:8164a3c9a996a5d4df5352',
};

import firebase from 'firebase';
firebase.initializeApp(config);
import axios from 'axios';
import Modal from '@/components/Modal';

export default {
  name: 'App',
  data() {
    return {
      ip: '',
      err: '',
      data: [],
      count: 0,
      text: '',
      ref: null,
      adding: false,
      loading: true,
      showModal: true,
    };
  },
  components: {
    Modal,
  },
  created() {
    this.showModal = localStorage.getItem('copybuddy-consent')
      ? !localStorage.getItem('copybuddy-consent')
      : true;
  },
  async mounted() {
    const ip = await this.getIP();
    const ref = firebase.database().ref(`/buddies/${ip.replaceAll('.', '-')}`);
    this.ref = ref;
    const connectedRef = firebase.database().ref('.info/connected');
    const countRef = firebase
      .database()
      .ref(`/count/${ip.replaceAll('.', '-')}`);

    connectedRef.on('value', (snap) => {
      // If they are connected..
      if (snap.val()) {
        // Add user to the connections list.
        const con = countRef.push(true);
        // Remove user from the connection list when they disconnect.
        con.onDisconnect().remove();
      }
    });

    countRef.on('value', (snapshot) => {
      if (snapshot.val()) {
        this.count = snapshot.numChildren();
      }
    });

    ref.on('value', (snapshot) => {
      if (snapshot.val()) {
        this.data = snapshot.val() ? snapshot.val() : [];
        this.loading = false;
      } else {
        this.data = [];
        this.loading = false;
      }
    });
  },
  methods: {
    shortenText(text) {
      return text.length > 120 ? text.substring(0, 120) + '...' : text;
    },
    handleButton() {
      this.adding = true;
      this.$nextTick(() => {
        this.$refs.textarea.focus();
      });
    },
    handleItemClick(text) {
      this.copyToClipboard(text);
    },
    submit() {
      this.ref.set([...this.data, this.text]);
      this.adding = false;
      this.text = '';
    },
    handleButtonClear() {
      this.ref.remove();
    },
    getIP() {
      return new Promise((resolve, reject) => {
        axios
          .get('https://api.ipify.org/?format=json')
          .then(({ data }) => {
            resolve(data.ip);
          })
          .catch((err) => {
            reject(err);
          });
      });
    },
    copyToClipboard(text) {
      if (window.clipboardData && window.clipboardData.setData) {
        // IE specific code path to prevent textarea being shown while dialog is visible.
        return window.clipboardData.setData('Text', text);
      } else if (
        document.queryCommandSupported &&
        document.queryCommandSupported('copy')
      ) {
        var textarea = document.createElement('textarea');
        textarea.textContent = text;
        textarea.style.position = 'fixed'; // Prevent scrolling to bottom of page in MS Edge.
        document.body.appendChild(textarea);
        textarea.select();
        try {
          return document.execCommand('copy'); // Security exception may be thrown by some browsers.
        } catch (ex) {
          console.warn('Copy to clipboard failed.', ex);
          return false;
        } finally {
          document.body.removeChild(textarea);
        }
      }
    },
  },
};
</script>

<style lang="scss">
.tooltip {
  display: block !important;
  z-index: 10000;
}

.tooltip .tooltip-inner {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 16px;
  padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: rgba(255, 255, 255, 0.2);
}

.tooltip[x-placement^='top'] {
  margin-bottom: 5px;
}

.tooltip[x-placement^='top'] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^='bottom'] {
  margin-top: 5px;
}

.tooltip[x-placement^='bottom'] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^='right'] {
  margin-left: 5px;
}

.tooltip[x-placement^='right'] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^='left'] {
  margin-right: 5px;
}

.tooltip[x-placement^='left'] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s, visibility 0.15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s;
}
$breakpoint-medium: 600px;
$breakpoint-large: 900px;

@mixin medium {
  @media (min-width: $breakpoint-medium) {
    @content;
  }
}

@mixin large {
  @media (min-width: $breakpoint-large) {
    @content;
  }
}
body {
  background: #181920;
  font-family: 'Source Sans Pro', sans-serif;
}
.wrapper {
  max-width: 85vw;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  padding: 20px 0;
  & > button {
    background: #fff;
    font-family: inherit;
    border-radius: 6px;
    cursor: pointer;
    font-size: inherit;
    padding: 5px 10px;
    border: none;
    margin-left: auto;
    &:focus {
      outline: none;
    }
    @include large {
      margin-left: 25px;
    }
  }
  @include large {
    padding: 40px 0;
  }
}

.info {
  display: flex;
  color: #fff;
  justify-content: center;
  margin-bottom: 25px;
  @include large {
    display: none;
  }
}

.no-data {
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  & > span {
    text-decoration: underline;
  }
}

ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  @include large {
    grid-template-columns: repeat(4, 1fr);
  }
  grid-gap: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  color: #fff;
  padding: 20px;
  cursor: pointer;
  height: 100px;
  overflow: hidden;
  @include large {
    height: 200px;
  }
  font-size: 18px;
  & > textarea {
    background: transparent;
    height: 100%;
    width: 100%;
    resize: none;
    padding: 0;
    border: none;
    color: #fff;
    font-size: inherit;
    font-family: inherit;
    &:focus {
      outline: none;
    }
  }
  &:hover {
    background: rgba(0, 0, 0, 0.3);
  }
  @include large {
    font-size: 24px;
  }
}
</style>
